.colorBrown {
  background: #311a18;
}
.colorYellow {
  background: #ecc05c;
}

.colorGray {
  background: #848494;
}

.background {
  background-image: url("1583908661283.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.inicialBg {
  background-image: url("inicialBg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
